<div class="uk-child-width-1-2@m uk-grid-large uk-grid-match" uk-grid>
	<div>
		<div class="uk-card uk-card-body uk-card-default">
			<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="min-height: 350; max-height: 350">
				<ul class="uk-slideshow-items" uk-lightbox>
					<li>
						<a href="https://getuikit.com/docs/images/photo.jpg" data-caption="0" uk-cover>
							<img src="https://getuikit.com/docs/images/photo.jpg">
						</a>
					</li>
					<li>
						<a href="https://getuikit.com/docs/images/dark.jpg" data-caption="1" uk-cover>
							<img src="https://getuikit.com/docs/images/dark.jpg">
						</a>
					</li>
					<li>
						<a href="https://getuikit.com/docs/images/light.jpg" data-caption="2" uk-cover>
							<img src="https://getuikit.com/docs/images/light.jpg">
						</a>
					</li>
				</ul>

				<div class="uk-position-bottom-center uk-position-small">
        			<ul class="uk-thumbnav">
						<li uk-slideshow-item="0">
							<a href="#">
								<img src="https://getuikit.com/docs/images/photo.jpg" width="60">
							</a>
						</li>

						<li uk-slideshow-item="1">
							<a href="#">
								<img src="https://getuikit.com/docs/images/dark.jpg" width="60">
							</a>
						</li>


						<li uk-slideshow-item="2">
							<a href="#">
								<img src="https://getuikit.com/docs/images/light.jpg" width="60">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="uk-card uk-card-default uk-card-body">
			<h3 class="uk-card-title">
				UIKit 3 Slideshow with Lightbox
			</h3>
			<p>
			</p>
		</div>
	</div>
</div>
