<%# <div class="card">
  <div class="card-image"></div>
  <div class="card-text">
    <h2><%= transport.brand %></h2>
    <p>Year : <%= transport.year %></p>
    <h2>Prix : <%= transport.price %> $</h2>
  </div>
<%# </div> %>
