<footer class='d-flex justify-content-around design-footer'>
  <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
   <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
   <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
</footer>
