<%# <footer class='d-flex justify-content-around design-footer'>
  <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
   <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
   <div class="fa-3x" >
    <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
  </div>
</footer> %>

 <footer>
  <ul class="footer">
    <div class="f-text">
      <h4>AIDE</h4>
      <li><a href="#">Statut de commande</a></li>
      <li><a href="#">Nous contacter</a></li>
    </div>
    <div id='contact-info'>
      <div class='links'>
        <a href='https://www.twitter.com' target='_blank'>
          <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>
                  <i class="fab fa-twitter"></i>
                </span>
          </div>
        </a>
        <a href='https://www.facebook.com' class='orange-border' target='_blank'>
          <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>
                  <i class="fab fa-facebook-f"></i>
                </span>
          </div>
        </a>
        <a href='https://www.instagram.com' class='orange-background' target='_blank'>
          <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>
                  <i class="fab fa-instagram"></i>
                </span>
          </div>
        </a>
      </div>
    </div>
    <div class="fa-3x" >
      <img src="https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png" class="fa-solid fa-shake" >
    </div>
  </ul>
</footer>
