<h1>Keke Transports</h1>

<%= link_to 'SE CONNECTER', new_user_session_path %>
<%= link_to "SINSCRIRE",  new_user_registration_path%>
<%= link_to 'SE DECONNECTER', cancel_user_registration_path %>

<h1>Transports</h1>
<ul>
  <% @transports.each do |transport| %>
  <li><%= link_to transport.brand, transport_path(transport.id) %></li>
  <% end %>
</ul>
