<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png);">
  <div class="container">
    <h1>KEKE Transports <strong>moving you around</strong> with <strong>exotic style!</strong>!</h1>
    <p>Make your journey unforgettable!!!!</p>
    <a class="btn btn-gradient" href="#">Book now</a>
  </div>
</div>

<h1>Keke Transports</h1>

<%= link_to 'SE CONNECTER', new_user_session_path %>
<%= link_to "SINSCRIRE",  new_user_registration_path%>
<%= link_to 'SE DECONNECTER', cancel_user_registration_path %>


<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>KEKE Transports <strong>move</strong> <strong>around with exotic style!</strong>!</h1>
    <p>Your remarkable transport for unforgettable journey around the world.</p>
    <h1>Transports</h1>
    <ul>
      <% @transports.each do |transport| %>
      <%# <li><%= link_to transport.brand, transport_path(transport.id) %></li>
      <%# <% end %>
    <%# </ul> %>
    <%# <a class="btn btn-flat" href="#">Book now</a> %>
  <%# </div> %>




<%# <div class="BorderColorChangeElement" style="margin: 0 auto;text-align:center;overflow:hidden;border-radius:0px;-webkit-box-shadow: 16px 17px 18px -7px rgba(18,1,18,0.61);-moz-box-shadow: 16px 17px 18px -7px rgba(18,1,18,0.61);box-shadow: 16px 17px 18px -7px rgba(18,1,18,0.61);background:#222020;border:10px solid #000000;padding:8px;max-width:calc(100% - 48px);width:1200px">
	<div class="imgAnim55"  style="display: inline-block;position:relative;vertical-align: middle;padding:8px">
		<img src="https://res.cloudinary.com/dglh9gm0i/image/upload/v1677667512/1000_bukn2s.jpg" style="max-width:100%;width:120px"/>
	</div>
	<div  style="display:inline-block;text-shadow:#030303 4px 4px 4px;position:relative;vertical-align: middle;padding:8px;font-size:45px;color:#ffffff;font-weight:normal">KEKE Transports</div>
	<div  style="display:inline-block;text-shadow:#030303 4px 4px 4px;position:relative;vertical-align: middle;padding:8px;font-size:14px;color:#ffffff;font-weight:normal">Your remarkable transport for unforgettable journey around the world! Move with exotic style!</div>
	<div class="btnAnim55"  style="display:inline-block;position:relative;vertical-align: middle;padding:8px" >
		<a target="_blank" href="#"><input type="button" value="Book Now" style="margin:0px;background:#000000;padding:8px;border:3px solid red;color:#ffffff;border-radius:0px;cursor:pointer" /></a></div>
</div> %>
