<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dojiqdbe4/image/upload/v1677600746/diable1_wubyti.png);">
  <div class="container">
    <h1>KEKE Transports <strong>moving you around</strong> with <strong>exotic style!</strong>!</h1>
    <p>Make your journey unforgettable!!!!</p>
    <a class="btn btn-gradient" href="#">Book now</a>
  </div>
</div>

<div class="container">
  <div class="cards-container">
    <% @transports.each do |transport| %>
      <div class="card">
        <%= cl_image_tag transport.photos[0] %>
        <%= transport.brand%>
        <%= transport.year %> - <%= transport.price %>
      </div>
    <% end %>
  </div>
</div>
