.banner {
  background-size: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 150px 0;
  background-color: black;
  border-top: 2px;
  border-color: white;
  border-top-color: white;
  margin-top: 1px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(red, red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#ffc014, #daa40f);
  color: white;
}
.banner > .container > h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  font-weight: bold;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
