.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: $light-gray;
}

.navbar-lewagon .nav-link:hover {
  color: $red;
}

.nav-item .active{
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
